.bwi_logo {
    float:right;
}

.report {
    clear:both;
    margin-top: 50px;
    display: none;
}

.row {
    margin-left: -70px;
    margin-right: -90px;
}

.h1 {
    margin-bottom: 10px;
}

@media print {
    table.leaderboard {
        break-after: always;
        page-break-after: always;
    }

    .menu {
        display: none;
    }

    .row {
        padding: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    hr {
        display: none;
    }
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.crossed-off {
    color: #ddd;
    text-decoration: line-through;
}
