.warm { 
	width: 250px; 
	float: left; 
}

.start { 
	width: 250px; 
	float: left; 
}

.team_group { 
	font-weight: bold; 
	font-size: 14px; 
	float: left;
	width: 200px;
}

.divisions {
	color: gray;
}

.team_container { 
	clear: both; 
	padding-top: 2px;
}

.team_container ul {
	width: 900;
	list-style-type: none;
	padding: 0;
}

.team_container li {
	margin-top: 15px;
}

.team_2ndrow {
	clear: left; 
	margin-left: 200px;
}


body {
	margin:	0;
	padding:	0;
	color:	#000;
  font-size: 15px;
}

#wrap {
  width:	950px;
  margin:	0 auto;
}

#header {
    padding:5px 10px;
}

h1 {
    margin:	0;
}

#nav {
  padding:	5px 10px;
  margin-bottom: 25px;
}

#nav ul {
  margin:	0;
  padding:	0;
  list-style:	none;
}

#nav li {
  display:	inline;
  margin:	0;
  padding:	0;
}

#main {
  float:	left;
  width:	50%;
  padding:	10px;
}

h2 {
  margin:	0 0 1em;
}

#sidebar {
  float:	right;
  width:	50%;
  padding:	10px;
}

#footer {
  clear:	both;
  padding:	5px 10px;
}

.page-break  {
    clear: both;
    display:block;
    page-break-after:always;
}
