body {
    margin: 20px;
}

table {
    width: 800px;
    page-break-inside: avoid;
}

table th {
    text-align: center;
}

table td {
    padding: 2px;
}

.team {
    font-size: 14pt;
    font-weight: bold;
}

.event {
    width: 60px;
}

.center {
    text-align: center;
}
