{% extends 'admin/base.html' %}
{% load admin_static %}{% load i18n grp_tags %}

{% block admin_title %}<h1 id="grp-admin-title">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}{% if request.session.meet%} - {{request.session.meet.short_name}}{% endif %}</h1>{% endblock %}

<!-- MESSAGES -->
{% block messages %}
    {% if request.session.meet.enable_ranking %}
    <ul class="grp-messagelist"><li>SCORES RANKING IS ON.</li></ul>
    {% endif %}
    {{block.super}}
{% endblock %}

{% block pretitle %}{% if request.session.meet %}<h3>{{request.session.meet.short_name}}</h3>{% endif %}{% endblock %}