{% load staticfiles %}
{% load breakdown %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{session.name}} Coaches Hospitalitiy</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scoresheet.css" rel="stylesheet">

  </head>

  <body>

  <h1> Coaches Hospitality </h1>
  <p>coaches by team and level, not session specific</p>
  {% for level in all_levels %}
    <h3> 
      Level {% if level.level = 999 %} {{ level.name }} {% else %} {{ level.level }} {% endif%}: 
      {% level_coaches_count level %} coaches
    </h3>
    {% for team in level|level_coaches %}
      <p> {{team.team}}: {{ team.coaches.all.count }} </p>
      <ul>
      {% for coach in team.coaches.all %}
        <li> {{coach}} </li>
      {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}

  </body>
</html>
