<h2>{{leaderboard.event}} - Level {{leaderboard.level}} ({{leaderboard.age_division}})</h2>
<table class="table table-striped leaderboard" style="width: auto;">
      <tr>
        <th style="width: 40px;">Rank</th>
        <th style="width: 80px;">Score</th>
        <th style="width: 200px;">Team</th>
        <th style="width: 200px;">Gymnast</th>
      </tr>
    {% for gymnast in leaderboard.gymnasts %}
      <tr class="crossable">
        <td>{{gymnast.rank}}</td>
        <td>{{gymnast.score}}</td>
        <td>{{gymnast.team}}</td>
        <td>{{gymnast.name}}</td>
      </tr>
    {% endfor %}
</table>
