{% load staticfiles %}
{% load breakdown %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{session.name}} Warm Ups and Rotations</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/rotations.css" rel="stylesheet">

  </head>

  <body>
  <!-- HEY!  This page will print correctly in Firefox (respecting page breaks), but NOT in Chrome. -->


  <!-- 
      LIST OF EVENTS, ANNOTATED BY WHICH TEAMS WILL BE WARMING UP THERE 
      AND THEN WHICH TEAMS WILL BE STARTING COMPETITION THERE.
   -->
  <div id="wrap">
    <div id="header">
    <h1> {{session.meet.name}}</h1>
    <h3> {{ session.name }}: {{session.session_start|date:"M d, Y"}}: Rotations, Event View</h3>
  </div>

  <div id="nav">
    <ul>
      <li>Level{{session.levels.count|pluralize}}: {{session.levels|join:", "}}</li>
     </ul>
     <ul>       
      <li>Open Warm-Up: {{ session.open_warmup_start }}  | </li>      
      <li>Timed Warm-Up: {{ session.timed_warmup_start }} </li>      
    </ul>
  {% if session.warmup = "Traditional" %} 
      <ul><li>Warm-up time per event: 10 minutes  </li></ul>
  {% endif %}

  </div>


  <div {% if session.warmup != "Traditional" %}id="main" {%else%}id="sidebar"{%endif%}>
    <h2>Competition Rotation</h2>
    {% for event in events %}
    <h4 class="event_group">{{event.event.name}} </h4>
      {% for team in event.rotation %}
        <div class="team_item">
          <span class="show_count"> ({% rotation_gymnasts team.team session event.event%}) </span>
          {{team.team.team }} 
            {% if session.levels.count > 1 %} 
            <span class="divisions">(Level{{team.levels.count|pluralize}} {{team.levels|join:", "}})</span>
            {% endif %}
        </div>
      {% endfor %}
      <p>&nbsp;</p>
    {% endfor %}
    <p>&nbsp;</p>

  </div>

    {% if session.warmup = "Traditional" %} 
    <div id="main">
        <h2>Warm-up Rotation</h2>

        {% for event in events %}
        <h4 class="event_group">{{event.event.name}} </h4>
          {% for team in event.warmup %}
            <div class="team_item">
              <span class="show_count"> ({% rotation_gymnasts team.team session event.event True %}) </span>
              {{team.team.team }} 
                {% if session.levels.count > 1 %} 
                <span class="divisions">(Level{{team.levels.count|pluralize}} {{team.levels|join:", "}})</span>
                {% endif %}
            </div>
          {% endfor %}
          <p>&nbsp;</p>
        {% endfor %}
    </div>
    {% endif %}


  <div class="page-break"></div>
  <!--  LIST OF TEAMS, ANNOTATED BY WHICH EVENT IS THE STARTING ROTATION -->

  <div id="header">
    <h1> {{session.meet.name}}</h1>
    <h3> {{ session.name }}: {{session.session_start|date:"M d, Y"}}: Rotations, Team View</h3>
  </div>

  <div id="nav">
    <ul>
      <li>Level{{session.levels.count|pluralize}}: {{session.levels|join:", "}}</li>
    </ul>
     <ul>       
      <li>Open Warm-Up: {{ session.open_warmup_start }}  | </li>      
      <li>Timed Warm-Up: {{ session.timed_warmup_start }} </li>      
    </ul>

  </div>

  <div id="footer">
    {% for team in teams %}
    <div class="team_container">
    <!-- <div class="team_group">{{team.team.team}} </div> -->

    <ul>
      <li>
          <div class="team_group">{{team.team.team}} </div>
        {% for event in team.starting_events %}
          {% if session.warmup = "Traditional" %} 
          <div class="warm {% if team.starting_events.count > 1 and forloop.counter > 1%}team_2ndrow{% endif %}">
            {% if team.starting_events.count > 1 %} Level {{event.level}}: {% endif %} 
            {{ event.starting_event.warmup_event_starthere }} <span class="divisions">(Warm-up)</span>
          </div>

          <div class="start">
            <!-- {% if team.starting_events.count > 1 %} Level {{event.level}}: {% endif %} --> 
            {{ event.starting_event }} <span class="divisions">(Competition)</span>
          </div>

          {% else %}
          <!-- hide the warmup if this is not a traditional session -->
          <div class="start {% if team.starting_events.count > 1 and forloop.counter > 1%}team_2ndrow{% endif %}">
            <!-- {% if team.starting_events.count > 1 %} Level {{event.level}}: {% endif %} --> 
            {% if team.starting_events.count > 1 %} Level {{event.level}}: {% endif %} 
            {{ event.starting_event }} <span class="divisions">(Competition)</span>
          </div>

          {% endif%}
        {% endfor %}
      </li>
    </ul>
    <p>&nbsp;</p>
    </div>
    {% endfor %}
  </div>
</div>

  </body>
</html>
