{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{session}} Scoresheets for the Program Book</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scoresheet.css" rel="stylesheet">
  </head>

  <body>
  <!-- HEY!  This page will print correctly in Firefox (respecting page breaks), but NOT in Chrome. -->

  <h1> {{session.meet.short_name}} {{session}}</h1>

{% regroup athletes by team as gymnasts_by_team %}
{% for team in gymnasts_by_team %}
<table border="1" cellpadding="7">
    <thead>
      <tr>
        <th colspan="10" class="team">{{team.grouper.team}}</th>
      </tr>
      <tr>
        <th>Gymnast</th>
        <th class="event">Level</th>
        <th>Age Div</th>
        <th class="event">Floor<br/>(FX)</th>
        <th class="event">Pommel<br/>(PH)</th>
        <th class="event">Rings<br/>(SR)</th>
        <th class="event">Vault<br/>(VT)</th>
        <th class="event">P-Bars<br/>(PB)</th>
        <th class="event">High Bar<br/>(HB)</th>
        <th class="event">All Around<br/>(AA)</th>
      </tr>
    </thead>

    {% for gymnast in team.list %}
    <tbody>
      <tr>
        <td>{{ gymnast.name_firstlast }}</td>
        <td class="center">{{ gymnast.level.level }}</td>
        <td class="center">{{ gymnast.division.short_name }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
{% endfor %}


  </body>
</html>
