<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet Team Results</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/team.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h2>{{meet.name}} - {{session.name}}<h2>
      <h3>{{meet.date}}</h3>
      {% for award in awards %}
        {% include "team_results.html" %}
      {% endfor %}
    </div>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
