body {
    margin-top: 50px;
}

#scoreboard td {
    vertical-align: middle;
}

#session-select {
    width: 150px;
}

#sign-mode-select {
    display: block;
    margin-bottom: 20px;
    width: 200px;
}

#message-select {
    display: block;
    width: 200px;
}

#rotation-select {
    display: block;
    width: 200px;
    margin-bottom: 15px;
}

#messaging {
    display: none;
}

#introduce_teams {
    display: none;
}

#event_name {
    display: none;
}

#competition {
    display: none;
}
