
th {
    font-size: 7pt;
    padding: 1px !important;
}

td {
    font-size: 7pt;
    padding: 1px !important;
    -webkit-print-color-adjust: exact;
}

thead{
  display:table-header-group;/*repeat table headers on each page*/
}

tbody{
  display:table-row-group;
}

.centered {
    text-align: center;
}

.grey {
    background-color: #eee !important;
}

