{% load staticfiles %}
{% load breakdown %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet Breakdown</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scoresheet.css" rel="stylesheet">

  </head>

  <body>

<h2> Meet Breakdown Report</h2>
  <!-- How many gymnasts are registered but we don't know how old they are... these won't show up in the above counts -->

  <p style="font-weight: bold; font-style: italic;">There are {{total_registered}} registered gymnasts.</p>
  {% if no_ages > 0 %}
    <p style="font-weight: bold; font-style: italic;">There are {{no_ages}} gymnasts without an age in the system.</p>
  {% endif %}

  {% if medals.total_awards > 0 %}
  <p style="font-weight: bold; font-style: italic;">
  {{medals.total_awards}} Total Meet Awards across {{medals.num_divisions_total}} divisions ... AA at {% widthratio meet.all_around_award_percentage 1 100 %}% ... Individual at {% widthratio meet.event_award_percentage 1 100 %}%
  </p>
  <dl>
    <dd>{{medals.indiv_top_3_total}} Individual Top 3 (Gold, Silver, Bronze) </dd>
    <dd>{{medals.indiv_other_place_medals}} Individual other placement medals (4th, etc.)</dd>
    <dd>{{medals.aa_other_place_medals}} All Around other placement medals (4th, etc.)</dd>
    <dd>{{medals.aa_top_3_total}} All Around Top 3 Trophies</dd>
  </dl>
  {% endif %}

<div style="width: 400px">
  <!-- How many gymnasts are registered in each major level (level group) -->
  <div style="float: left;">
  {% for level in level_groups %}
    <p style='margin-left:12px;'><strong>Level {{level.group}} ({{level.num_gymnasts_across_divisions}} athletes)</strong></p>
    <ul style='margin-left:20px;margin-bottom:10px'>    
    {% for i in age_range %}
      {% if level|group_age_counts:i > 0 %}
        <li>{{i}}yo ({{ level|group_age_counts:i }} athletes) </li>
      {% endif %}
    {% endfor %}

    <!-- no age gymnasts -->
    {% if level|group_age_counts > 0 %}
        <li>No age ({{ level|group_age_counts }} athletes) </li>
    {% endif%}
    </ul>
  {% endfor %}
  </div>

  <!-- How many gymnasts are registered in each level division -->
  <div style="float: right;">
  {% for level in level_divisions %}
    <p style='margin-left:12px;'><strong>Level {{level.name}} ({{level.per_divison_gymnasts}} athletes)</strong></p>
    <ul style='margin-left:20px;margin-bottom:10px'>
    {% for i in age_range %}
      {% if level|division_age_counts:i > 0 %}
        <li>{{i}}yo ({{ level|division_age_counts:i }} athletes) </li>
      {% endif %}
    {% endfor %}

    <!-- no age gymnasts -->
    {% if level|division_age_counts > 0 %}
        <li>No age ({{ level|division_age_counts }} athletes) </li>
    {% endif%}

    </ul>

    <!-- Use this loop if you want to print out a list of the gymnasts in this level division -->
    {% for l in level.levdiv_gymnasts %}
    {% endfor %}
  {% endfor %}
  </div>

</div>

  </body>
</html>
