{% load staticfiles %}
{% load breakdown %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ordering Awards</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scoresheet.css" rel="stylesheet">

  </head>

  <body>

<h2>Teams Registered for Awards</h2>
<p><em>Which team, that has paid to register for team awards, has the largest number of gymnasts? Order ribbons based on that largest team's counts.</em></p>

<div style="width: 400px">
{% for award in awards %}
  <h3>{{award}}</h3>
  {% for team in award|team_awards_teams %}
    <p>{{team.gym}}: {{team.num_gymnasts}}</p>
  {% empty %}
    <p style="font-style: italic;">No teams registered for this award.</p>
  {% endfor %}
{% endfor %}
</div>

  </body>
</html>
