<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaderboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/leaderboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-2 menu" id="leftCol">
          {% for group in groups %}
            <p><strong>Level {{group.level}} ({{group.age_group}})</strong></p>
            <ul>
              {% for event in events %}
                <li><a href="#{{group.level}}_{{group.age_group}}_{{event.initials}}">{{event.name}}</a></li>
              {% endfor %}
              <li><a href="#{{group.level}}_{{group.age_group}}_overall">Overall</a></li>
            </ul>
          {% endfor %}
          <p><strong>Team Awards</strong></p>
           <ul>
          {% for team_award in teams %}
            <li><a href="#team_award_{{ forloop.counter }}">{{team_award.award}}</a></li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-md-9">
          <div class="report">
          {% for leaderboard in individual %}
            {% include "leaderboard.html" %}
            <hr/>
          {% endfor %}
          </div>
          <div class="report">
          {% for leaderboard in teams %}
            <a name="team_award_{{ forloop.counter }}"></a>

            {% include "team_leaderboard.html" %}
            <hr/>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
